src/main/mule/test_project_pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="babd2de4-3de9-4e46-9213-0d2dc04eb8d1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test_project_pipelineFlow" doc:id="ad6f8c73-32e9-40ef-beb5-4ff6daef35c1" >
		<http:listener doc:name="Listener" doc:id="310ac1c5-75ec-461b-ab9a-fe9b7ed8137a" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="4c1aa44f-6ea7-4a5c-9d5a-19d85f506834" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"welcome"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1335ba6d-d923-4cd8-8b42-6fdfcbca27eb" message="payload #[payload]"/>
	</flow>
</mule>
